:root {
  --dark-400: #555891;
  --dark-500: #1c216c;
  --gray-500: #b8b9cc;
  --green-300: #6aac89;
}

.UserReferral {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #fbf8f3;
}

.UserReferral-Logo {
  position: absolute;
  left: 24px;
  top: 29px;
  font-family: "Poppins-700";
  font-size: 32px;
  color: var(--dark-500);
}

.UserReferral-Image {
  display: flex;
  width: 167px;
  height: 110px;
  margin-bottom: 30px;
  border-radius: 12px;
  background-color: var(--dark-500);
}

.UserReferral-Header {
  display: flex;
  font-family: "Poppins-700";
  font-size: 32px;
  margin-bottom: 5px;
  color: #1c216c;
}

.UserReferral-Subheader {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Poppins-400";
  font-size: 18px;
  margin-bottom: 36px;
  color: var(--dark-400);
}

.UserReferral-Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.UserReferral-Form-Name-Container {
  display: flex;
  margin-bottom: 16px;
}

.UserReferral-Form-Web-Name-Input {
  display: flex;
  width: 216px;
  height: 53px;
  padding-left: 24px;
  border-radius: 12px;
  border: 1px solid #f8f0e0;
  border-color: #f8f0e0;
  font-family: "Poppins-400";
  font-size: 18px;
  color: #111554;
}

.UserReferral-Form-Email-Container {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}

.UserReferral-Form-Web-Email-Input {
  display: flex;
  width: 476px;
  height: 53px;
  padding-left: 24px;
  border-radius: 12px;
  border: 1px solid #f8f0e0;
  font-family: "Poppins-400";
  font-size: 18px;
  color: #111554;
  margin-bottom: 5px;
}

.UserReferral-Form-Invalid-Email {
  display: flex;
  height: 10px;
  margin-left: 24px;
  font-family: "Poppins-400";
  font-size: 15px;
  color: #bc1010;
}

::placeholder {
  color: var(--gray-500);
}

.UserReferral-Form-Button {
  display: flex;
  width: 140px;
  height: 56px;
  justify-content: center;
  align-items: center;
  background-color: var(--green-300);
  border-radius: 20px;
  border: none;
  font-family: "Poppins-600";
  font-size: 20px;
  color: #ffffff;
}

.UserReferral-Form-Mobile-Name-Input {
  display: flex;
  width: 320px;
  height: 53px;
  padding-left: 24px;
  margin-bottom: 16px;
  border-radius: 12px;
  border: 1px solid #f8f0e0;
  border-color: #f8f0e0;
  font-family: "Poppins-400";
  font-size: 18px;
  color: #111554;
}

.UserReferral-Form-Mobile-Email-Input {
  display: flex;
  width: 320px;
  height: 53px;
  padding-left: 24px;
  border-radius: 12px;
  border: 1px solid #f8f0e0;
  font-family: "Poppins-400";
  font-size: 18px;
  color: #111554;
  margin-bottom: 5px;
}

@font-face {
  font-family: "Poppins-400";
  src: local("Poppins-400"), url(./fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-600";
  src: local("Poppins-600"),
    url(./fonts/Poppins-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-700";
  src: local("Poppins-700"), url(./fonts/Poppins-Bold.ttf) format("truetype");
}
